<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Items</h3>

  <div id="purchases">
    <p>
      <%= link_to_add_association "Add an Item", form, :purchases %>
    </p>
    <%= form.fields_for :purchases do |purchase| %>
      <%= render :partial => 'purchase_fields', :locals=>{:f=>purchase} %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
