<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td>
        <div class="field">
          <%= form.label :tax_exempt_amount %>
          <%= "#{sprintf('%.2f', @sale.tax_exempt_amount)}" if !@sale.tax_exempt_amount.nil? %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= form.label :taxable_amount %>
          <%= "#{sprintf('%.2f', @sale.taxable_amount)}" if !@sale.taxable_amount.nil? %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= form.label :import_duty_amount %>
          <%= "#{sprintf('%.2f', @sale.import_duty_amount)}" if !@sale.import_duty_amount.nil? %>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="field">
          <%= form.label :taxable_total %>
          <%= "#{sprintf('%.2f', @sale.taxable_total)}" if !@sale.taxable_total.nil? %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= form.label :import_duty_total %>
          <%= "#{sprintf('%.2f', @sale.import_duty_total)}" if !@sale.import_duty_total.nil? %>
        </div>
      </td>

      <td>
        <div class="field">
          <%= form.label :grand_total %>
          <%= "#{sprintf('%.2f', @sale.grand_total)}" if !@sale.grand_total.nil? %>
        </div>
      </td>
    </tr>
  </table>

  <h3>Items</h3>

  <div id="purchases">
    <p>
      <%= link_to_add_association "Add an Item", form, :purchases %>
    </p>
    <%= form.fields_for :purchases do |purchase| %>
      <%= render :partial => 'purchase_fields', :locals=>{:f=>purchase} %>
    <% end %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
