<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Tax exempt amount</th>
      <th>Taxable amount</th>
      <th>Import duty amount</th>
      <th>Taxable total</th>
      <th>Import duty total</th>
      <th>Grand total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.tax_exempt_amount %></td>
        <td><%= sale.taxable_amount %></td>
        <td><%= sale.import_duty_amount %></td>
        <td><%= sale.taxable_total %></td>
        <td><%= sale.import_duty_total %></td>
        <td><%= sale.grand_total %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
