<h1>Sales Receipt</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th colspan="2"></th>
    <td>
      <strong>Tax exempt amount:</strong>
      <%= sprintf('%.2f', @sale.tax_exempt_amount) %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Taxable amount:</strong>
      <%= sprintf('%.2f', @sale.taxable_amount) %>
    </td>

    <td>
      <strong>Sales Tax:</strong>
      <%= sprintf('%.2f', @sale.taxable_total) %>
    </td>

    <td>
      <strong>Total Amount with Sales Tax:</strong>
      <%= sprintf('%.2f', (@sale.taxable_amount + @sale.taxable_total)) %>
    </td>
  </tr>

  <tr>
    <td>
      <strong>Import duty amount:</strong>
      <%= sprintf('%.2f', @sale.import_duty_amount) %>
    </td>

    <td>
      <strong>Import Duty:</strong>
      <%= sprintf('%.2f', @sale.import_duty_total) %>
    </td>

    <td>
      <strong>Total Amount with Import Duty:</strong>
      <%= sprintf('%.2f', (@sale.import_duty_amount + @sale.import_duty_total)) %>
    </td>
  </tr>
  <tr>
    <th colspan="2"></th>
    <td>
      <strong>Grand total:</strong>
      <%= sprintf('%.2f', @sale.grand_total) %>
    </td>
  </tr>
</table>

<br>

<table>
  <tr>
    <th>Product</th><th>Price</th><th>Quantity</th><th>Sub Total</th><th>Tax</th><th>Import Duty</th><th>Item Total</th><th>Running Total</th>
  </tr>
  <% @purchases.each do |purchase| %>
    <tr>
      <td>
        <%= purchase.product.item %>
      </td>
      <td>
        <%= sprintf('%.2f', purchase.product.price) %>
      </td>
      <td align="right">
        <%= purchase.quantity %>
      </td>
      <td>
        <%= sprintf('%.2f', (purchase.product.price * purchase.quantity)) %>
      </td>
      <td align="center">
        <%= sprintf('%.2f', purchase.tax_total) %>
      </td>
      <td align="center">
        <%= sprintf('%.2f', purchase.import_duty_total) %>
      </td>
      <td>
        <%= sprintf('%.2f', purchase.total) %>
      </td>
      <% @running_total += purchase.total %>
      <td>
        <%= sprintf('%.2f', @running_total) %>
      </td>
    </tr>
  <% end %>
</table>

<br><br>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
