<p id="notice"><%= notice %></p>

<p>
  <strong>Tax exempt amount:</strong>
  <%= @sale.tax_exempt_amount %>
</p>

<p>
  <strong>Taxable amount:</strong>
  <%= @sale.taxable_amount %>
</p>

<p>
  <strong>Import duty amount:</strong>
  <%= @sale.import_duty_amount %>
</p>

<p>
  <strong>Taxable total:</strong>
  <%= @sale.taxable_total %>
</p>

<p>
  <strong>Import duty total:</strong>
  <%= @sale.import_duty_total %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @sale.grand_total %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
